In [1]:
import pandas as pd

# Datei laden (z.â€¯B. B4S)
df_b4s = pd.read_csv("EDM_B4S.csv", sep=";")
df_b4s = df_b4s.rename(columns={df_b4s.columns[0]: "time"})
df_b4s["time"] = pd.to_datetime(df_b4s["time"])
df_b4s = df_b4s.set_index("time")
df_b4s.head()  # Ausgabe der ersten Zeilen des DataFrames

,1-1:1290*255,1-1:2290*255,1-1:5290*255,1-1:6290*255,1-1:7290*255,1-1:8290*255,Nettolast_P_kW,Nettolast_Q_kvar
time,,,,,,,,
2020-03-02 23:15:00+00:00,30014,0,2612,0,0,8200,30.014,-5.588
2020-03-02 23:30:00+00:00,27356,0,2538,0,0,8322,27.356,-5.784
2020-03-02 23:45:00+00:00,25930,0,2544,0,0,8302,25.930,-5.758
2020-03-03 00:00:00+00:00,24318,0,2432,0,0,8296,24.318,-5.864
2020-03-03 00:15:00+00:00,24300,0,2460,0,0,8082,24.300,-5.622

In [3]:
# Entfernen von Spalten mit nur NaN
df_b4s = df_b4s.dropna(axis=1, how="all")
# Entfernen von Zeilen mit nur NaN
df_b4s = df_b4s.dropna(axis=0, how="all")

 # VorwÃ¤rtsauffÃ¼llen der NaN-Werte
df_b4s = df_b4s.fillna(method="ffill") 
# RÃ¼ckwÃ¤rtsauffÃ¼llen der NaN-Werte
df_b4s = df_b4s.fillna(method="bfill")  
# df_b4s = df_b4s.dropna(axis=1, how="all") 

# df_b4s = df_b4s.dropna(axis=0, how="all")  # Entfernen von Zeilen mit nur NaN
df_b4s = df_b4s.drop_duplicates()  # Entfernen von Duplikaten
df_b4s = df_b4s.sort_index()  # Sortieren nach Zeitindex  
df_b4s.head()  # Ausgabe der ersten Zeilen des DataFrames

/var/folders/tq/9nvqt2l90bvcrsjk_4877y_00000gn/T/ipykernel_2533/1763416997.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_b4s = df_b4s.fillna(method="ffill")
/var/folders/tq/9nvqt2l90bvcrsjk_4877y_00000gn/T/ipykernel_2533/1763416997.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_b4s = df_b4s.fillna(method="bfill")

,1-1:1290*255,1-1:2290*255,1-1:5290*255,1-1:6290*255,1-1:7290*255,1-1:8290*255,Nettolast_P_kW,Nettolast_Q_kvar
time,,,,,,,,
2020-03-02 23:15:00+00:00,30014,0,2612,0,0,8200,30.014,-5.588
2020-03-02 23:30:00+00:00,27356,0,2538,0,0,8322,27.356,-5.784
2020-03-02 23:45:00+00:00,25930,0,2544,0,0,8302,25.930,-5.758
2020-03-03 00:00:00+00:00,24318,0,2432,0,0,8296,24.318,-5.864
2020-03-03 00:15:00+00:00,24300,0,2460,0,0,8082,24.300,-5.622

In [4]:
weather_raw = pd.read_excel("Meteodaten_korrigiert.xlsx", sheet_name="MeasurementMeteo15Min")
weather_df = weather_raw[["MeasurementTimestampUtc", "Parameter", "MeasurementValue"]].dropna()
weather_df["MeasurementTimestampUtc"] = pd.to_datetime(weather_df["MeasurementTimestampUtc"])
weather_df = weather_df.rename(columns={"MeasurementTimestampUtc": "time"})

# Pivot: Wetterparameter als Spalten
weather_wide = weather_df.pivot(index="time", columns="Parameter", values="MeasurementValue")

In [1]:
import pandas as pd
import holidays

# -------------------------
# 1. Lastdaten laden
# -------------------------
df_b4s = pd.read_csv("EDM_B4S.csv", sep=";")
df_b4s = df_b4s.rename(columns={df_b4s.columns[0]: "time"})
df_b4s["time"] = pd.to_datetime(df_b4s["time"], errors="coerce")
df_b4s = df_b4s.set_index("time")

# -------------------------
# 2. Wetterdaten laden (limitiert fÃ¼r Performance)
# -------------------------
weather_raw = pd.read_excel("Meteodaten_korrigiert.xlsx", sheet_name="MeasurementMeteo15Min")
weather_df = weather_raw[["MeasurementTimestampUtc", "Parameter", "MeasurementValue"]].dropna()

# Zeitspalte auf "tz-naiv" konvertieren
weather_df["MeasurementTimestampUtc"] = pd.to_datetime(weather_df["MeasurementTimestampUtc"]).dt.tz_localize(None)
weather_df = weather_df.rename(columns={"MeasurementTimestampUtc": "time"})

# Pivotieren
weather_wide = weather_df.pivot(index="time", columns="Parameter", values="MeasurementValue")

if df_b4s.index.tz is not None:
    df_b4s.index = df_b4s.index.tz_localize(None)

if weather_wide.index.tz is not None:
    weather_wide.index = weather_wide.index.tz_localize(None)


# -------------------------
# 3. ZusammenfÃ¼hren (nur Zeitschnitt)
# -------------------------
df = df_b4s.join(weather_wide, how="inner")

# -------------------------
# 4. Feature Engineering: Zeitmerkmale
# -------------------------
df["hour"] = df.index.hour
df["weekday"] = df.index.weekday
df["is_weekend"] = df["weekday"].isin([5, 6]).astype(int)

# -------------------------
# 5. Bereinigung
# -------------------------
# Anzahl NaNs
nan_summary = df.isna().sum()

# Entfernen
df = df.dropna()

# Doppelte Zeitstempel zÃ¤hlen und entfernen
duplicate_count = df.index.duplicated().sum()
df = df[~df.index.duplicated(keep="first")]




# Zeitspalte in datetime umwandeln
df['time'] = pd.to_datetime(df['time'])

# Feiertage fÃ¼r die Schweiz (optional: prov="ZH" fÃ¼r ZÃ¼rich, "BE" fÃ¼r Bern, etc.)
ch_holidays = holidays.CH(years=[2020, 2021], prov="ZH")

# Neue Spalte 'Holiday': 1 fÃ¼r Feiertag, sonst 0
df['Holiday'] = df['time'].dt.date.apply(lambda x: 1 if x in ch_holidays else 0)


# Ergebnis anzeigen
print("Fehlende Werte pro Spalte:\n", nan_summary[nan_summary > 0])
print("Doppelte Zeitstempel:", duplicate_count)
print("EndgÃ¼ltige Form:", df.shape)

# Optional speichern
df.to_csv("eda_b4s_clean.csv")

ModuleNotFoundError: No module named 'holidays'

In [14]:
df_b4s_clean = pd.read_csv("eda_b4s_clean.csv")
#head der bereinigten Daten anzeigen
df_b4s_clean.head(5)  # Ausgabe der ersten Zeilen des bereinigten Data

,time,1-1:1290*255,1-1:2290*255,1-1:5290*255,1-1:6290*255,1-1:7290*255,1-1:8290*255,Nettolast_P_kW,Nettolast_Q_kvar,dkl010h0,fkl010h0,fkl010h1,gre000h0,rre150h0,tre200h0,hour,weekday,is_weekend
0,2020-03-02 23:15:00,30014,0,2612,0,0,8200,30.014,-5.588,244.0,5.925,11.6,0.0,0.100,3.450,23,0,0
1,2020-03-02 23:30:00,27356,0,2538,0,0,8322,27.356,-5.784,244.0,5.700,11.6,0.0,0.100,3.300,23,0,0
2,2020-03-02 23:45:00,25930,0,2544,0,0,8302,25.930,-5.758,245.0,5.750,11.6,0.0,0.100,3.275,23,0,0
3,2020-03-03 00:00:00,24318,0,2432,0,0,8296,24.318,-5.864,245.0,5.800,11.6,0.0,0.100,3.250,0,1,0
4,2020-03-03 00:15:00,24300,0,2460,0,0,8082,24.300,-5.622,245.0,5.850,11.9,0.0,0.025,3.225,0,1,0

In [15]:
print("Lastdaten-Zeitraum:", df_b4s.index.min(), "bis", df_b4s.index.max())
print("Wetterdaten-Zeitraum:", weather_wide.index.min(), "bis", weather_wide.index.max())

Lastdaten-Zeitraum: 2020-03-02 23:15:00 bis 2021-05-31 22:00:00
Wetterdaten-Zeitraum: 2019-09-02 23:15:00 bis 2020-12-06 15:00:00